<!-- ***** Footer Start ***** -->
<!-- Footer -->
<footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            Mentorment
                        </div>
                        <div class="footer-about-content">
                            <p>
                                <strong>Prophet Muhammad P.B.U.H Said:</strong> <br />“The best of charity is when a Muslim man gains knowledge, then he teaches it to his Muslim brother.”<br />
                                <strong>Sunan Ibn Majah</strong>
                            </p>
                        </div>
                    </div>
                    <!-- /Footer Widget -->
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Social Link</h2>
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/Mentorment-109916631390029" target="_blank"><i class="fab fa-facebook-f"></i> <span>Facebook</span> </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i> <span>LinkedIn</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Contact Us</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address">
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                <p>E-404 Pak Arab Housing Society<br>Lahore </p>
                            </div>
                            <a href="tel:+923307266662">
                                <i class="fas fa-phone-alt"></i>
                                +92 330 7266662
                            </a>
                            <p class="mb-0">
                                <i class="fas fa-envelope"></i>
                                admin@mentorment.com
                            </p>
                        </div>
                    </div>
                    <!-- /Footer Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer Top -->
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container-fluid">
            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; 2021 <a href="index-2.html">Mentorment</a>. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Copyright -->
        </div>
    </div>
    <!-- /Footer Bottom -->
</footer>
<!-- /Footer -->